---
http_interactions:
- request:
    method: get
    uri: https://ridb.recreation.gov/api/v1/recareas/284/activities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - apiKey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Apigw-Id:
      - Obb9tE0MPHcFWhA=
      X-Amzn-Requestid:
      - dd6f5c4e-ebd8-45a9-948e-81fdc289ac87
    body:
      encoding: ASCII-8BIT
      string: '{"RECDATA":[{"ActivityID":5,"ActivityParentID":"","RecAreaID":"284","ActivityName":"BIKING","RecAreaActivityDescription":"Biking","RecAreaActivityFeeDescription":""},{"ActivityID":6,"ActivityParentID":"","RecAreaID":"284","ActivityName":"BOATING","RecAreaActivityDescription":"Boating","RecAreaActivityFeeDescription":""},{"ActivityID":9,"ActivityParentID":"","RecAreaID":"284","ActivityName":"CAMPING","RecAreaActivityDescription":"Camping","RecAreaActivityFeeDescription":""},{"ActivityID":11,"ActivityParentID":"","RecAreaID":"284","ActivityName":"FISHING","RecAreaActivityDescription":"Fishing","RecAreaActivityFeeDescription":""},{"ActivityID":14,"ActivityP[...]
[...]
