---
http_interactions:
- request:
    method: get
    uri: https://ridb.recreation.gov/api/v1/activities?limit=128&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - apiKey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Apigw-Id:
      - OZASAGSDPHcF4aA=
      X-Amzn-Requestid:
      - fbbc7346-52aa-45a6-9f80-93bf2bae1a6e
    body:
      encoding: ASCII-8BIT
      string: '{"RECDATA":[{"ActivityID":4,"ActivityParentID":0,"ActivityName":"AUTO
        TOURING","ActivityLevel":0},{"ActivityID":5,"ActivityParentID":0,"ActivityName":"BIKING","ActivityLevel":0},{"ActivityID":6,"ActivityParentID":0,"ActivityName":"BOATING","ActivityLevel":0},{"ActivityID":7,"ActivityParentID":0,"ActivityName":"CLIMBING","ActivityLevel":0},{"ActivityID":8,"ActivityParentID":0,"ActivityName":"HISTORIC
        \u0026 CULTURAL SITE","ActivityLevel":0},{"ActivityID":9,"ActivityParentID":0,"ActivityName":"CAMPING","ActivityLevel":0},{"ActivityID":10,"ActivityParentID":0,"ActivityName":"INTERPRE[...]
- request:
    method: post
    uri: https://arcane-sands-07034.herokuapp.com/api/v1/users
    body:
      encoding: UTF-8
      string: '{"id":null,"user_name":"0.0437418283052432","email":"0.9458702148409976@0.8505250184270375.com","password":"password12345","password_confirmation":"password12345","access":0,"street_address":"1234
        Main St","city":"Denver","state":"CO","zipcode":"80220","activity_preferences":"ACCESSIBLE
        SWIMMING SOFTBALL FIELDS"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d6e520d56e11a96f8535e8e5a611230"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"243","type":"user","attributes":{"user_name":"0.0437418283052432","email":"0.9458702148409976@0.8505250184270375.com","street_address":"1234
        Main St","city":"Denver","state":"CO","zipcode":"80220","activity_preferences":"ACCESSIBLE
        SWIMMING SOFTBALL FIELDS","latitude":40.2277056,"longitude":-76.1313541}}}'
  recorded_at: Thu, 03 Mar 2022 04:42:41 GMT
- request:
    method: get
    uri: https://arcane-sands-07034.herokuapp.com/api/v1/users/243
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d6e520d56e11a96f8535e8e5a611230"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"243","type":"user","attributes":{"user_name":"0.0437418283052432","email":"0.9458702148409976@0.8505250184270375.com","street_address":"1234
        Main St","city":"Denver","state":"CO","zipcode":"80220","activity_preferences":"ACCESSIBLE
        SWIMMING SOFTBALL FIELDS","latitude":40.2277056,"longitude":-76.1313541}}}'
  recorded_at: Thu, 03 Mar 2022 04:42:42 GMT
[...]
- request:
    method: get
    uri: https://arcane-sands-07034.herokuapp.com/api/v1/users/243
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4aefef7e63d94bc0ad722a8d0633f58e"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"243","type":"user","attributes":{"user_name":"0.6238052608646416","email":"0.9458702148409976@0.8505250184270375.com","street_address":"3557
        Alcott St","city":"Denver","state":"CO","zipcode":"80211","activity_preferences":"ACCESSIBLE
        SWIMMING SOFTBALL FIELDS","latitude":39.766710700000004,"longitude":-105.01780017511793}}}'
  recorded_at: Thu, 03 Mar 2022 04:42:47 GMT
recorded_with: VCR 6.0.0
