---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b223e219a2cff0890dbe4fae9e6d5836&lat=39.71854302040816&lon=-104.95596330612246&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7185,"lon":-104.956,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646326172,"sunrise":1646314202,"sunset":1646355226,"temp":59.18,"feels_like":55.98,"pressure":1018,"humidity":25,"dew_point":24.4,"uvi":3.1,"clouds":40,"visibility":10000,"wind_speed":11.5,"wind_deg":230,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1646326200,"precipitation":0},{"dt":1646326260,"precipitation":0},{"dt":1646326320,"precipitation":0},{"dt":1646326380,"precipitation":0},{"dt":1646326440,"precipitation":0},{"dt":1646326500,"precipitation":0},{"dt":1646326560,"precipitation":0},{"dt":1646326620,"precipitation":0},{"dt":1646326680,"precipitation":0},{"dt":1646326740,"precipitation":0},{"dt":1646326800,"precipitation":0},{"dt":1646326860,"precipitation":0},{"dt":1646326920,"precipitation":0},{"dt":1646326980,"precipitation":0},{"dt":1646327040,"precipitati[...]
