---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b223e219a2cff0890dbe4fae9e6d5836&lat=39.71854302040816&lon=-104.95596330612246&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7185,"lon":-104.956,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646267139,"sunrise":1646227892,"sunset":1646268761,"temp":62.02,"feels_like":59.34,"pressure":1016,"humidity":30,"dew_point":30.47,"uvi":0.17,"clouds":72,"visibility":10000,"wind_speed":3,"wind_deg":5,"wind_gust":10,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1646267160,"precipitation":0},{"dt":1646267220,"precipitation":0},{"dt":1646267280,"precipitation":0},{"dt":1646267340,"precipitation":0},{"dt":1646267400,"precipitation":0},{"dt":1646267460,"precipitation":0},{"dt":1646267520,"precipitation":0},{"dt":1646267580,"precipitation":0},{"dt":1646267640,"precipitation":0},{"dt":1646267700,"precipitation":0},{"dt":1646267760,"precipitation":0},{"dt":1646267820,"precipitation":0},{"dt":1646267880,"precipitation":0},{"dt":1646267940,"precipitation":0},{"dt":1646268000,"precipitati[...]
