---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b223e219a2cff0890dbe4fae9e6d5836&lat=39.71854302040816&lon=-104.95596330612246&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7185,"lon":-104.956,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646262664,"sunrise":1646227892,"sunset":1646268761,"temp":64.6,"feels_like":61.74,"pressure":1020,"humidity":21,"dew_point":24.76,"uvi":0.76,"clouds":75,"visibility":10000,"wind_speed":8.05,"wind_deg":360,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1646262720,"precipitation":0},{"dt":1646262780,"precipitation":0},{"dt":1646262840,"precipitation":0},{"dt":1646262900,"precipitation":0},{"dt":1646262960,"precipitation":0},{"dt":1646263020,"precipitation":0},{"dt":1646263080,"precipitation":0},{"dt":1646263140,"precipitation":0},{"dt":1646263200,"precipitation":0},{"dt":1646263260,"precipitation":0},{"dt":1646263320,"precipitation":0},{"dt":1646263380,"precipitation":0},{"dt":1646263440,"precipitation":0},{"dt":1646263500,"precipitation":0},{"dt":1646263560,"precipitati[...]
