---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b223e219a2cff0890dbe4fae9e6d5836&lat=39.71854302040816&lon=-104.95596330612246&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7185,"lon":-104.956,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646286181,"sunrise":1646227892,"sunset":1646268761,"temp":45.61,"feels_like":42.58,"pressure":1018,"humidity":53,"dew_point":29.79,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":5.75,"wind_deg":210,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"minutely":[{"dt":1646286240,"precipitation":0},{"dt":1646286300,"precipitation":0},{"dt":1646286360,"precipitation":0},{"dt":1646286420,"precipitation":0},{"dt":1646286480,"precipitation":0},{"dt":1646286540,"precipitation":0},{"dt":1646286600,"precipitation":0},{"dt":1646286660,"precipitation":0},{"dt":1646286720,"precipitation":0},{"dt":1646286780,"precipitation":0},{"dt":1646286840,"precipitation":0},{"dt":1646286900,"precipitation":0},{"dt":1646286960,"precipitation":0},{"dt":1646287020,"precipitation":0},{"dt":1646287080,"precipitati[...]
