---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b223e219a2cff0890dbe4fae9e6d5836&lat=39.71854302040816&lon=-104.95596330612246&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7185,"lon":-104.956,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646346328,"sunrise":1646314202,"sunset":1646355226,"temp":69.8,"feels_like":67.19,"pressure":1014,"humidity":15,"dew_point":21.45,"uvi":1.86,"clouds":75,"visibility":10000,"wind_speed":12.66,"wind_deg":80,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1646346360,"precipitation":0},{"dt":1646346420,"precipitation":0},{"dt":1646346480,"precipitation":0},{"dt":1646346540,"precipitation":0},{"dt":1646346600,"precipitation":0},{"dt":1646346660,"precipitation":0},{"dt":1646346720,"precipitation":0},{"dt":1646346780,"precipitation":0},{"dt":1646346840,"precipitation":0},{"dt":1646346900,"precipitation":0},{"dt":1646346960,"precipitation":0},{"dt":1646347020,"precipitation":0},{"dt":1646347080,"precipitation":0},{"dt":1646347140,"precipitation":0},{"dt":1646347200,"precipitati[...]
