---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b223e219a2cff0890dbe4fae9e6d5836&lat=39.71854302040816&lon=-104.95596330612246&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7185,"lon":-104.956,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646354261,"sunrise":1646314202,"sunset":1646355226,"temp":61.83,"feels_like":58.64,"pressure":1014,"humidity":20,"dew_point":21.69,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":14.97,"wind_deg":170,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1646354280,"precipitation":0},{"dt":1646354340,"precipitation":0},{"dt":1646354400,"precipitation":0},{"dt":1646354460,"precipitation":0},{"dt":1646354520,"precipitation":0},{"dt":1646354580,"precipitation":0},{"dt":1646354640,"precipitation":0},{"dt":1646354700,"precipitation":0},{"dt":1646354760,"precipitation":0},{"dt":1646354820,"precipitation":0},{"dt":1646354880,"precipitation":0},{"dt":1646354940,"precipitation":0},{"dt":1646355000,"precipitation":0},{"dt":1646355060,"precipitation":0},{"dt":1646355120,"precipitati[...]
