---
http_interactions:
- request:
    method: get
    uri: https://ridb.recreation.gov/api/v1/recareas/284
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - apiKey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Apigw-Id:
      - OYax0HqTPHcF4WA=
      X-Amzn-Requestid:
      - 8a615abd-f0ad-4ac4-8c1c-388368c8d09d
    body:
      encoding: ASCII-8BIT
      string: '{"RecAreaID":"284","OrgRecAreaID":"284","ParentOrgID":"130","RecAreaName":"Chatfield
        Lake","RecAreaDescription":"Chatfield Dam, located southwest of Denver on
        the South Platte River, was the second of three dams built to protect the
        Denver region from floods. The 1,479-acre land and the 5,300 acres surrounding
        it provide a myriad of recreational opportunities including camping, fishing,
        and swimming.  Chatfield Nature Preserve for environmental studies and the
        old Hildebrand Homestead, which is listed on the National Register of Historic
        Places, are open to visitors.","RecAreaFeeDescription":"","RecAreaDirections":"Located
        off C-470 southwest of Denver at the Wadsworth interchange.","RecAreaPhone":"","RecAreaEmail":"","RecAreaReservationURL":"","RecAreaMapURL":"","GEOJSON":{"TYPE":"Point","COORDINATES":[-105.058974,39.559653]},"RecAreaLongitude":-105.058974,"RecAreaLatitude":39.559653,"StayLimit":"","Keywords":"","Reservable":false,"Enabled":true,"LastUpdatedDate":"2021-09-23"}'
  recorded_at: Thu, 03 Mar 2022 00:26:38 GMT
[...]
