---
http_interactions:
- request:
    method: get
    uri: https://ridb.recreation.gov/api/v1/recareas?activity%5B%5D=Biking&full=true&latitude=39.71854302040816&limit=10&longitude=-104.95596330612246&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - apiKey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Apigw-Id:
      - OSdkCGFwPHcFggg=
      X-Amzn-Requestid:
      - f03908e9-597a-4b6b-81f4-0bb569f32afd
    body:
      encoding: ASCII-8BIT
      string: '{"RECDATA":[{"RecAreaID":"285","OrgRecAreaID":"285","ParentOrgID":"130","RecAreaName":"Cherry
        Creek Lake","RecAreaDescription":"Cherry Creek Dam, located at the southeast
        edge of Denver in Aurora, CO, was the first of the three dams to be built
        to protect the Denver region from catastrophic South Platte River floodwaters
        that plagued the area for more than 100 years.  Recreational opportunities
        include camping, fishing, picnicking, an archery/rifle range, a horse stable,
        nature and bike trails, a marina, and a swimming area.  The park is open year-round.","RecAreaFeeDescription":"","RecAreaDirections":"On
        the southeast fringe of Denver off I-225/Parker Road.","RecAreaPhone":"","RecAreaEmail":"","RecAreaReservationURL":"","RecAreaMapURL":"","GEOJSON":{"TYPE":"Point","COORDINATES":[-104.859446,39.649023]},"RecAreaLongitude":-104.859446,"RecAreaLatitude":39.649023,"StayLimit":"","Keywords":"","Reservable":false,"Enabled":true,"LastUpdatedDate":"2021-09-23","ORGANIZATION":[{"OrgID":"130","OrgName":"US
        Army Corps of Engineers","OrgImageURL":"uasce.gif","OrgURLText":"","OrgURLAddress":"http://www.usace.army.mil","OrgType":"Federal
        Agency","OrgAbbrevName":"USACE","OrgJurisdictionType":"State","OrgParentID":"162","LastUpdatedDate":"2018-06-26"}],"FACILITY":[{"FacilityID":"247881","FacilityName":"Cherry
        Creek State Park","ResourceLink":"https://ridb.recreation.gov/api/v1/facilities/247881"}],"RECAREAADDRESS":[{"RecAreaAddressID":"465510","RecAreaID":"285","RecAreaAddressType":"Default","RecAreaStreetAddress1":"9307
        S. Wadsworth Blvd","RecAreaStreetAddress2":"","RecAreaStreetAddress3":"","City":"Littleton","PostalCode":"80128-6901","AddressStateCode":"CO","AddressCountryCode":"USA","LastUpdatedDate":"2015-06-30"}],"ACTIVITY":[{"ActivityID":6,"ActivityParentID":"","RecAreaID":"285","ActivityName":"BOATING","RecAreaActivityDescription":"Boating","RecAreaActivityFeeDescription":""},{"ActivityID":9,"ActivityParentID":"","RecAreaID":"285","ActivityName":"CAMPING","RecAreaActivityDescription":"Camping","RecAreaActivityFeeDescription":""},{"ActivityID":11,"ActivityParentID":"","RecAreaID":"285","ActivityName":"FISHING","RecAreaActivityDescription":"Fishing","RecAreaActivityFeeDescription":""},{"ActivityID":20,"ActivityParentID":"","RecAreaID":"285","ActivityName":"PICNICKING","RecAreaActivityDescription":"Picnic","RecAreaActivityFeeDescription":""},{"ActivityID":25,"ActivityParentID":"","RecAreaID":"285","ActivityName":"WATER
        SPORTS","RecAreaActivityDescription":"Water Sports","RecAreaActivityFeeDescription":""},{"ActivityID":26,"ActivityParentID":"","RecAreaID":"285","ActivityName":"WILDLIFE
        VIEWING","RecAreaActivityDescription":"Wildlife Viewing","RecAreaActivityFeeDescription":""},{"ActivityID":37,"ActivityParentID":"","RecAreaID":"285","ActivityName":"PLAYGROUND
        PARK SPECIALIZED SPORT SITE","RecAreaActivityDescription":"Playground","RecAreaActivityFeeDescription":""},{"ActivityID":38,"ActivityParentID":"","RecAreaID":"285","ActivityName":"OTHER
        RECREATION CONCESSION SITE","RecAreaActivityDescription":"Restaurant/SnackBar","RecAreaActivityFeeDescription":""}],"EVENT":[],"LINK":[{"EntityLinkID":"11e4bb62a8bb5c60da8bb96ee9a55e75","LinkType":"Map","EntityID":"285","EntityType":"RecArea","Title":"Cherry
        Creek Lake Map","Description":"","URL":"http://www.parks.state.co.us/SiteCollectionImages/parks/Parks/Chatfield/ChatfieldAreaMap.pdf"},{"EntityLinkID":"0b42117592f947bd694dffcb565c7ec1","LinkType":"Official
        Web Site","EntityID":"285","EntityType":"RecArea","Title":"Cherry Creek Lake
        Website","Description":"","URL":"https://corpsLakes.erdc.dren.mil/visitors/projects.cfm?ID=G603070"},{"EntityLinkID":"33d60b9776ce7f39bcf8464feed32f17","LinkType":"Other","EntityID":"285","EntityType":"RecArea","Title":"Cherry
        Creek Lake Photo Album","Description":"","URL":"https://corpsLakes.erdc.dren.mil/visitors/album.cfm?Option=View\u0026Activity=None\u0026ID=G603070"}],"MEDIA":[{"EntityMediaID":"326051","MediaType":"Image","EntityID":"285","EntityType":"RecArea","Title":"","Subtitle":"","Description":"","EmbedCode":"","Height":295,"Width":480,"URL":"https://cdn.recreation.gov/public/images/2140.jpg","Credits":"","IsPrimary":false,"IsPreview":false,"IsGallery":true}]},{"RecAreaID":"1583","OrgRecAreaID":"","ParentOrgID":"127","RecAreaName":"Rocky
        Mountain Arsenal National Wildlife Refuge","RecAreaDescription":"Rocky Mountain
        Arsenal National Wildlife Refuge (NWR), located 10 minutes from downtown Denver,
        is nearly 17,000 acres, making it one of the largest urban wildlife refuges
        in the United States. It consists of open lakes, wetlands, prairie grasslands,
        and woodlands. \n\n\n\n\n\nDue to its proximity to Denver[...]
[...]
